<div class="col-sm-1 stars">

</div>
<div class="col-sm-3 target">
  <form class="form-inline" {{action 'savePlayer' on='submit'}}>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <label {{bind-attr for="formElementId"}} class="target-number">{{warPlayer.position}}. </label>
        </div>
        <div class="col-sm-10">
          {{input type="text" class="form-control target-name" value=warPlayer.player.name elementId=formElementId placeholder="Target Player" focus-out="savePlayer"}}
        </div>
      </div>
    </div>
  </form>
</div>

{{#each attacker in attackerList}}
  {{attacker-log warPlayer=attacker}}
{{/each}}

<div class="col-sm-1">
  {{#bootstrap-tooltip tagName="button" action="addAttacker" title="add attacker" classNames="btn btn-primary add-attacker"}}
    +
  {{/bootstrap-tooltip}}
  {{!-- <button class="btn btn-primary add-attacker" title="add attacker" {{action "addAttacker"}}>+</button> --}}
</div>
