<div class="container-fluid">
  {{dashboard-header}}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-gavel fa-fw"></i> Current War</h3>
          <span class="pull-right">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
              <li {{bind-attr class="isViewingTargets:active"}}>
                <a href="#" {{bind-attr class=":opposing-clan :clan-name isViewingTargets:active-clan"}} {{action 'viewClan' 'targets'}}>Foes</a>
              </li>
              <li {{bind-attr class="isViewingAttackers:active"}}>
                <a href="#" {{bind-attr class=":our-clan :clan-name isViewingAttackers:active-clan"}} {{action 'viewClan' 'attackers'}}>Friends</a>
              </li>
            </ul>
          </span>
        </div>
        <div class="panel-body current-war">
          {{#if isInWar}}
            {{partial 'dashboard/current-war'}}
          {{else}}
            <h4 class="clash">{{warText}}</h4>
            {{#if currentTimer}}
              {{countdown-timer to=currentTimer.endDate}}
              <button class="btn btn-primary btn-lg" {{action "makePeace"}}>Make Peace</button>
            {{else}}
              <button class="btn btn-primary btn-lg" {{action "scheduleWar"}}>Schedule War</button>
            {{/if}}
            <button class="btn btn-danger btn-lg" {{action "declareWar"}}>Declare War</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
