{{#bootstrap-modal
  formClass="form-horizontal"
  close="close"
  submitBtnTitle="Declare War"
  okBtnTitle="Cancel"
  title="Declare War"
  fade=true
  submitBtnClass="btn-danger"
  submit="submit"}}

  {{#if errors.length}}
    <div class="alert alert-danger">
      <p><strong>Errors:</strong></p>
      <ul>
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-group">
    <label for="opposingClanName" class="col-sm-4 control-label">Opposing Clan:</label>
    <div class="col-sm-6">
      {{input value=opposingClanName type="text" classNames="form-control" elementId="opposingClanName"}}
    </div>
  </div>

  <div class="form-group">
    <label for="opposingClanTag" class="col-sm-4 control-label">Opposing Clan Tag:</label>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">#</span>
        {{input value=opposingClanTag type="text" classNames="form-control" elementId="opposingClanTag"}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label short-label">
      War Status:
    </label>
    <div class="col-sm-8">
      <label class="col-sm-5 short-label">
        {{radio-button value='preparation-day' checked=warStatus}}
        <span class="radio-label">Preparation</span>
      </label>
      <label class="col-sm-5">
        {{radio-button value='in-war' checked=warStatus}}
        <span class="radio-label">In War</span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">
      War Size:
    </label>
    <div class="col-sm-8">
      {{btn-group items=proxiedWarSizes selectedItem=proxiedSelectedWarSize defaultPrompt="Select Size"}}
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-4 control-label">
      Time
      {{#if preparationDay}}
        to war:
      {{else}}
        left:
      {{/if}}
    </label>
    <div class="col-sm-3">
      <div class="input-group">
        {{input value=warHours type="text" classNames="form-control" maxlength=2 placeholder="0"}}
        <span class="input-group-addon" id="basic-addon2">hrs</span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        {{input value=warMinutes type="text" classNames="form-control" maxlength=2 placeholder="0"}}
        <span class="input-group-addon" id="basic-addon2">min</span>
      </div>
    </div>
  </div>
{{/bootstrap-modal}}
